// Color Scheme
$accent: #FF4B26;
$accent-hover: #ec3700;
$accent-focus: #FF4B26;
$white: #FFF;
$light-gray: #cfcfcf;
$gray: #BABABA;
$accent-gray: #3d414b;
$medium-gray: #272A32;
$dark-gray: #1D2129;
$black: #000;

//Typefaces
$poppins: 'Poppins',
sans-serif;
$barlow: 'Barlow',
sans-serif;

// Font Weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Font Sizes
$xxxxxxx-large: 75px;
$xxxxxx-large: 65px;
$xxxxx-large: 55px;
$xxxx-large: 50px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 24px;
$medium: 20px;
$regular: 16px;
$small: 14px;
$x-small: 12px;
$xx-small: 10px;