.btn-size{
  padding: .6rem 2rem;
  border-radius: 50px;
}

.btn-outlined{
  background-color: transparent;
  color: $gray;
  border: 2px $gray solid;
  &:focus{
    background-color: $light-gray;
    color: $medium-gray;
  }
}

.btn-accent{
  background-color: $accent;
  border: none;
  &:hover{
    background-color: $accent-hover;
  }
  &:focus{
    background-color: $accent-focus;
  }
}