.banner{
  background-image: url(banner-bg.png);
  height: 100%;
  padding: 5rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  &__info{
    margin-top: 3rem;
    text-align: center;
  }
  &__title{
    margin-bottom: 1rem;
  }
  &__text{
    font-size: $small;
  }
  &__img{
    transform: scaleX(-1);
    width: 80%;
  }
}

@media (min-width: 768px) {
  .banner{
    background-image: url(banner-bg.png);
    height: 475px;
    flex-wrap: wrap;
    &__info{
      width: 50%;
      text-align: left;
    }
    &__title{
      font-size: $xxxxx-large;
    }
    &__img{
      width: 520px;
      position: absolute;
      right: 80px;
      padding-bottom: 60px;
    }
  }
}

@media (min-width: 1281px) {
  .banner{
    background-color: #FF5A38;
    height: 360px;
    &__info{
      margin-top: 0;
    }
  }
}