.categories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: .5rem;
  margin-top: 1.5rem;
  img{
    width: 100%;
    object-fit: cover;
    max-width: 12rem;
  }
  h3{
    width: 7ch;
    margin: 0 .5rem;
    line-height: .8;
    font-weight: $extra-bold;
    font-size: $xxxx-large;
  }
  &__item{
    &-1, &-2, &-3, &-4{
      display: flex;
      align-items: center;
      justify-content: space-between;
    } 
    &-1 {
      color: $dark-gray;
      background-color: $white;
      &:hover{
        transition: color .2s ease-in-out;
        color: $accent;
      }
      h3{
        width: 5ch;
      }
    }
    &-2 {
      color: $white;
      background-color: $accent;
      &:hover{
        transition: color .2s ease-in-out;
        color: $dark-gray;
      }
    }
    &-3{
      background-color: $medium-gray;
      flex-direction: row-reverse;
      &:hover{
        transition: color .2s ease-in-out;
        color: $gray;
      }
      img{
        height: 100%;
        object-fit: fill;
      }
    }
    &-4{
      color: $dark-gray;
      background-color: $gray;
      flex-direction: row-reverse;
      h3 {
        width: 5ch;
      }
      &:hover{
        transition: color .2s ease-in-out;
        color: $white;
      }
    }
  }
}

@media (min-width: 768px) {
  .categories{
    grid-template-rows: repeat(2, 220px);
    grid-column-gap: .5rem;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .more {
      font-weight: $semi-bold;
    &-4 {
      margin: 0.5rem;
    }
    &-2 {
      margin: .7rem;
    }
  }
  .categories{
    grid-gap: 1rem;
    grid-template-rows: repeat(2, 270px);
    margin-top: 7.5rem;
    img {
      object-fit: contain;
      max-width: none;
    }
    h3{
      margin: .5rem;
      line-height: .9;
    }
    &__item {
      &-1, &-2, &-3, &-4{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        overflow: hidden;
      }
      &-1 {
        position: relative;
        h3{
          font-size: $xxxxxx-large;
          width: 4.5ch;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .more-1 {
          position: absolute;
          right: 1.5rem;
          top: 1rem;
        }
        img{
          width: 60%;
        }
      }
      &-2 {
        grid-row: 1 / 3;
        position: relative;
        justify-content: center;
        img{
          width: 30rem;
          transform: rotate(-45deg);
          position: absolute;
          bottom: .6rem;
          right: -6rem;
        }
        h3{
          margin-top: 2rem;
          font-size: $xxxxxxx-large;
        }
      }
      &-3 {
        justify-content: space-between;
        position: relative;
        .more-3{
          position: absolute;
          right: 1.5rem;
          bottom: 1rem;
        }
        h3{
          font-size: $xxxx-large;
          position: absolute;
          right: 0;
          top: .9rem;
        }
        img{
          height: 75%;
          width: 60%;
          object-fit: fill;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      &-4 {
        grid-column: 1 / 3;
        grid-row: 2;
        flex-direction: row;
        align-items: center;
        padding: 0 2rem;
        h3{
          width: 5ch;
          font-size: $xxxxxx-large;
        }
        
        img{
          width: 18.75rem;
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .categories{
    margin-top: 210px;
  }
}