.hero-img {
  position: absolute;
  top: 60px;
  right: -140px;
}

.details{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85px;
  min-width: 550px;
  background-color: $medium-gray;
  opacity: 90%;
}

.detail {
  &__title {
    font-family: "Poppins", sans-serif;
    font-size: $small;
    font-weight: $semi-bold;
  }
  &__info {
    font-size: $xx-small;
  }
}